/* ---------- Table of Contents ---------- 
    I.   Page styles
    II.  Miscelleneous styles
   ---------- Table of Contents ---------- */


/* ---------- Page styles ---------- */
main {
    width: 100%;
    margin-top: 4rem;
}

.posts-header {
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 1px solid black;
    margin: 4rem 20rem;
    text-align: center;

}

 /*----- AboutPage styles ----- */
.about-section {
    background: linear-gradient(to right,rgb(175, 175, 175), rgb(240, 240, 240));
    padding: 4rem 6rem;
    padding-top: 8rem;
    text-align: center;
    height: calc(100vh - 16rem);
}

.about-article {
    text-align: left;
    height: 10rem;
}

.about-title {
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 900;
}

.about-content {
    font-size: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 40%;
}
/* ----- PostPage styles ----- */
.post-section {
    padding: 4rem 6rem;
    background: linear-gradient(to right,rgb(175, 175, 175), rgb(240, 240, 240));
}

.post-article {
    padding: 4rem;
}

.post-article h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid black;
}

.post-article p {
    text-align: left;
    padding: 0 5rem;
    text-indent: 3rem;
    font-size: 1.5rem;
}

.button-holder {
    display: flex;
    justify-content: center;
}
/* ----- SigninPage styles ----- */
.signin-section {
    max-width: 24rem;
    margin: calc(25vh - 4rem - 2rem - 2rem) auto;
    padding: 4rem;
    height: auto;
}

.signin-section form {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 3px 3px rgb(200, 200, 200);
    padding: 2rem;
    height: 50vh;
    justify-content: flex-start;
    border-radius: 25px;
}

.signin-section h2 {
    align-self: center;
}

.signin-section button {
    cursor: pointer;
    margin-top: 40%;
    margin-bottom: 2rem;
}
/* ----- CreatePostPage styles ----- */
.create-section {
    padding: 4rem 6rem;
    background: linear-gradient(to right,rgb(175, 175, 175), rgb(240, 240, 240));
    padding-bottom: 12rem;
}

.create-section form {
    display: flex;
    flex-direction: column;
}

.create-section h2 {
    font-size: 2.5rem;
    text-decoration: underline;
    margin-bottom: 3rem;
}

.publish-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.publish-field label {
    padding: 1rem;
}

.publish-field input {
    width: auto;
    margin: 1rem;
}


/* ---------- Miscelleneous styles ---------- */
