/* ---------- Table of Contents ---------- 
    I.   HomeSplash styles
    II.  PostCard styles
    III. PostRow styles
    IV.  CommentCard styles
    V.   CommentForm styles
    VI.  Miscelleneous styles
   ---------- Table of Contents ---------- */


/* ---------- HomeSplash styles ---------- */
.splash-section {
    width: calc(100% - 12rem);
    max-width: calc(100% - 12rem);
    background: linear-gradient(to right,rgb(175, 175, 175), rgb(240, 240, 240));
    padding: 4rem 6rem;
    padding-top: 8rem;
    text-align: center;
    height: 14rem;
}

.splash-article {
    text-align: left;
    height: 10rem;
}

.splash-title {
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 900;
}

.splash-content {
    font-size: 1.5rem;
    margin-left: 1.5rem;
}


/* ---------- PostCard styles ---------- */
.post-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 15rem;
    width: 15rem;
    height: 17.5rem;
    border-radius: 15px;
    transition: all linear 0.2s;
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px rgb(200, 200, 200);
    margin: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0);
}

.post-card:hover {
    box-shadow: 5px 5px 5px 5px rgb(150, 150, 150);
    background-color: rgba(0, 0, 0, 0.05);
}

.post-content {
    width: 100%;
    height: 100%;
}

.post-title {
    padding: 2rem;
    font-size: 2rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: calc(17.5rem - 6rem);
    text-align: center;
}

.post-footer {
    position: relative;
    border-top: 1px solid lightgrey;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 1rem;
    padding-top: 0.25rem;
    background-color: rgb(180, 180, 180);
    text-align: center;
    width: calc(100% - 2rem);
}

.footer-font {
    font-size: 1.25rem;
}


/* ---------- PostRow styles ---------- */
.post-row {
    border-radius: 1.125rem;
    margin-bottom: 0.5rem;
    width: 100%;
    transition: all 0.2s linear;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgb(175, 175, 175);
}

.post-row:hover {
    width: 105%;
    box-shadow: 3px 3px 3px 3px rgb(175, 175, 175);
    margin-bottom: 0.75rem;
    margin-top: 0.25rem;
}

.post-row-light {
    background-color: rgb(240, 240, 240);
}

.post-row-dark {
    background-color: rgb(200, 200, 200);
}

.row-content {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1rem;
    font-size: 1.25rem;
}

.row-font {
    font-size: 1.5rem;
}


/* ---------- CommentCard styles ---------- */
.comment-card {
    border-bottom: 1px solid darkgrey;
    margin-bottom: 1rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 2px 2px 2px 2px rgb(150, 150, 150);
}

.comment-content {
    padding: 0.5rem 2rem;
}

.comment-name {
    font-size: 1.5rem !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 0.25rem 0
}

.comment-delete {
    margin: auto 0;
    background: rgba(0, 0, 0, 0.05);
    border: none;
    font-weight: 900;
    font-size: 1.5rem;
    color: rgb(69, 69, 69);
    cursor: pointer;
    transition: all 0.2s linear;
    border-radius: 0.65rem;
}

.comment-delete:hover {
    box-shadow: 1px 1px 1px 1px rgb(100, 100, 100);
    background: rgba(0, 0, 0, 0.2);
    color: black;
}

.comment-message {
    padding: 1rem 0;
}

.comment-footer {
    text-align: end;
}

.footer-font {
    font-size: 1rem !important;
}


/* ---------- CommentForm styles ---------- */
.comment-form {
    width: 100%;
    margin-bottom: 1rem;
}

.comment-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* ---------- Miscelleneous styles ---------- */
